<div id="main-content" class="container">
  <div class="row">
      <div class="col-md-6">
              <div class="form-group">
                  <label for="connect">WebSocket connection:</label>
                  <button id="connect" class="btn btn-default" [disabled]="connected" (click) = "connect()" type="button">Connect</button>
              </div>
      </div>
  </div>
  <div class="row">
    <div class="timer"><h2>{{timer}}</h2></div>
      <div class="col-md-12">
          <table id="conversation" class="table table-striped">
              <thead>
              <tr>
                  <th>Quiz</th>
              </tr>
              </thead>
              <tbody id="questions">
                <tr><td>{{question.statement}}</td></tr>
                <tr *ngFor= "let answer of question.answerList">
                  <td><input type="radio" id = "answer{{answer.id}}"
                    name = "question" [value] = "answer.id" [(ngModel)] = "questionAnswer.answerId"
                    (change) = "selectAnswer()" [disabled] = "questionAnswer.answerId">
                    <label for="answer{{answer.id}}">{{answer.content}}</label>
                  </td>
                </tr>
              </tbody>
          </table>
          <p *ngIf = 'quizEnded' >Quiz has ended !!!</p>
          <button (click) = 'showResults()' *ngIf = 'quizEnded'>Show Results</button>
      </div>
  </div>
</div>
